* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
}

.navbarList li {
    list-style-type: none;
    display: inline;
}

.navbarList li a {
    margin: 0 1rem;
    font-size: 20px;
    text-decoration: none;
    color: #2596be;
    text-transform: uppercase;
}

.navbarList li .getNowBtn {
    background-color: rgb(243, 142, 159);
    color: #000b0f;
    font-size: 1.5em;
    padding: 20px 20px;
    border-radius: 30px 50px 15px;
}

#title {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 10vh 0;
}

#title h1 {
    font-size: 7.2rem;
    margin-bottom: 1rem;
}

#title p {
    font-size: 1.5rem;
}

/* card css start */
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding: 10px 70px;
}

.parent .myCard {
    min-height: 200px;
    margin-bottom: 20px;
    width: 100%
}

.parent .myCard img {
    width: 100%;
    margin-bottom: 2vh;
}

.parent .myCard:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.parent a {
    text-decoration: none;
}

.parent .myCard span {
    color: rgb(62, 13, 167);
    font-weight: 600;
    font-size: 1em;
}

.parent .myCard p {
    color: #000000;
    font-weight: 600;
    margin-top: 2vh;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1.3em;
}

/* footer start */
.myContainer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 0px 2px;
    grid-auto-flow: row;
}

.myContainer>div {
    padding: 2em 3em;
}

.info {
    margin: auto;
}

.info blockquote {
    color: rgb(30, 162, 162);
    line-height: 1.5;
    width: 80%;
    margin-bottom: 1.5em;
}

.info a {
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    margin: 0 10px 0 0;
}

.footerList ul {
    list-style-type: none;
}

.footerList ul .listHeader {
    color: rgb(0, 0, 0);
    margin-bottom: 2vh;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 4vh;
}

.footerList ul li {
    margin-bottom: 2vh;
}

.footerList ul li a {
    text-decoration: none;
    color: rgb(243, 142, 159);
}

/* footer end */
/* modal start */
.myModal {
    width: 60%;
    height: 60vh;
    position: fixed;
    background-color: white;
    top: 20vh;
    left: 20%;
    border-radius: 10px;
}

.myModal img {
    width: 100%;
}

.myModal h2 {
    text-align: center;
    margin: 0.5em 0;
}

.myModal span {
    display: inline-block;
    margin: 0.5em 10%;
    color: orange;
}

.myModal p {
    text-align: justify;
    width: 80%;
    margin: 0.5em auto;
}

.myModal button {
    display: block;
    width: 30%;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: orange;
    margin: 1em auto;
}

/* modal end */
/* tablet view */
@media only screen and (max-width: 960px) {
    .parent {
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 70px;
    }

    .myContainer {
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    }
}

/*  */
@media only screen and (max-width: 768px) {
    nav {
        display: block;
        text-align: center;
    }

    .navbarList li {
        display: block;
        margin: 10px;
    }

    .navbarList li .getNowBtn {
        padding: 10px;
    }

    .parent {
        grid-template-columns: repeat(1, 1fr);
    }

    #title {
        padding: 20px;
    }

    .info {
        width: 100%;
        text-align: center;
    }

    .myContainer {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

    .myContainer ul {
        margin: auto;
        text-align: center;
    }
}